.counter {
  position: absolute;
  height: 29px;
  bottom: 230px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 21px */
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  &.expand {
    height: 74px;
  }
}

.block {
  padding: 6px 16px;
  border-radius: 100px;
  background: rgba(17, 17, 17, 0.60);
  backdrop-filter: blur(4px);
  white-space: nowrap;
}
