.backdrop {
  flex-shrink: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.top {
  height: 54px;
  padding: 0 20px;
  h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
  }
}

.back {
  width: fit-content;
}
