.background {
  position: fixed;
  width: 100%;
  height: calc(100dvh - 52px - var(--min-bottom));
  margin-bottom: calc(52px + var(--min-bottom));
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 100;
  &.stickToBottom {
    height: 100dvh;
    margin-bottom: 0;
    .container {
      padding-bottom: calc(var(--min-bottom) + 8px);
    }
  }
}

.container {
  position: relative;
  min-height: 100px;
  padding: 30px 20px 8px 20px;
  border-radius: 10px 10px 0px 0px;
  background: var(--Gray-8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.darker {
    background: var(--Gray-9);
    .spare {
      background-color: var(--Gray-9);
    }
  }
  &.fullSize {
    padding: 0;
  }
  .line {
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: transparent;
    backdrop-filter: invert(1);
    border-radius: 2px;
    top: 13px;
    left: calc(50% - 25px);
    z-index: 100;
  }
  .spare {
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    background-color: var(--Gray-8);
  }
}
