.container {
  position: absolute;
  bottom: 94px;
  left: 0;
  padding: 0 20px;
}

.button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--Gray-8);
  display: grid;
  place-items: center;
  z-index: 10;
}
