@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html, body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  place-items: center;
    
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background: linear-gradient(180deg, #252525 0%, #272727 100%);
  color: var(--Gray-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: Border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}
