:root {
  --Gray-1: #F9F9F9;
  --Gray-2: #EBEBEB;
  --Gray-3: #C8C8C8;
  --Gray-4: #BFBFBF;
  --Gray-5: #AAAAAA;
  --Gray-6: #888888;
  --Gray-7: #555555;
  --Gray-8: #333333;
  --Gray-9: #222222;

  --Main-1: #272727;
  --Main-2: #252525;
  --Main-3: #FD83D4;
  --Main-4: #29D2F8;
}
