.container {
  padding: 25dvh 0;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.button {
  width: calc(100% - var(--min-left) - var(--min-right));
  height: 56px;
  border-radius: 12px;
  border: 2px solid var(--Gray-9, #222);
  background: var(--Gray-1, #F9F9F9);
  color: var(--Gray-9, #222);
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 110% */
  letter-spacing: -0.8px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  margin-bottom: calc(var(--min-bottom) + 20px);
}
