.container {
  padding: 12px 20px;
  margin-top: var(--min-top);
  border-radius: 50px;
  border: 1.5px solid var(--Gray-5);
  backdrop-filter: blur(7px);
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
  }
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  padding: calc(var(--min-top) + 20px) 20px 24px 20px;
  background: rgba(17, 17, 17, 0.60);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
  span {
    transition: color 0.3s;
  }
}

.complete {
  position: absolute;
  width: 70px;
  height: 32px;
  display: grid;
  place-items: center;
  right: 20px;
  top: calc(var(--min-top) + 20px + 24px + 20px);
  background: rgba(17, 17, 17, 0.60);
  backdrop-filter: blur(4px);
  border-radius: 100px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  z-index: 100;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  padding: calc(24px + var(--min-top)) 24px 57px 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 6.24%, rgba(0, 0, 0, 0.70) 106.68%);
  z-index: 10;
  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
  }
}
